.header a.h1{
    color: rgba(76, 124, 21, 0.726);
    float: left;
    flex: none;
    font-size: 25px;
    font-weight: 800;
}
ul{
    list-style-type: none;

}
.header a,h1 {
    float: right;
    font-size: 25px;
    text-decoration: none;
    color:black;
    padding: 12px;
    text-align: left;
    flex: none;
}
.header a :hover{
    background-color: rgb(70, 180, 116);
    color: black;
    
}
.image_align img{
    width: 400px;
    height: 380px;
    float: right;
    align-self: center;
    border-radius: 45px;
    
}

.header{
   
    overflow: hidden;
    background-color: rgba(16, 103, 218, 0.411); 
    padding: 20px 10px;
    float: none;
    box-shadow: 13px;
 
}
.image_align p,a{
    padding-top: 10%;
    padding-left: 30%;
    font-size: x-large;
    font-weight: 800;
    color: rgba(210, 105, 30, 0.637);
    text-decoration: none;
    text-overflow:hidden;
  
}