body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.header a.h1{
    color: #4c7c15b9;
    float: left;
    flex: none;
    font-size: 20px;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    padding: 12px;
    
}
ul{
    list-style-type: none;

}
.header .h2 a {
    float: right;
    font-size: 20px;
    text-decoration: none;
    color:black;
    padding: 12px;
    text-align: left;
    flex: none;
}
.header a:hover{
    color: #4c7c15b9;
    background-color: rgba(0, 0, 255, 0.137);
    
}
.image_align img{
    width: 400px;
    height: 380px;
    float: right;
    align-self: center;
    border-radius: 45px;
    
}

.header{
   
    overflow: hidden;
    background-color: rgba(16, 103, 218, 0.411); 
    padding: 20px 10px;
    float: none;
    box-shadow: 13px;
 
}
.image_align p,a{
    padding-top: 10%;
    padding-left: 30%;
    font-size: x-large;
    font-weight: 800;
    color: rgba(210, 105, 30, 0.637);
    text-decoration: none;
    text-overflow:hidden;
  
}

@media screen and (max-width: 500px){
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header .h2 a{
        float: none;
    }
}
